* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-weight: 400;
  padding-top: 110px;
}
.header__inner {
  text-align: center;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  background-color: #fff;
  border: 10px solid #f4d4a5;
  padding-top: 13px;
  padding-bottom: 160px;
  margin-left: 155px;
}
.header__name {
  padding-top: 12px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #bf4200;
  margin-bottom: 15px;
}
.phone {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 35px;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.header__title {
  text-transform: uppercase;
  color: #1fad26;
  font-weight: 700;
  padding: 0 5px;
  font-size: 50px;
}
.header__sale {
  margin-top: 40px;
}
.main {
  padding-top: 60px;
  text-align: center;
}
.main__title {
  font-size: 41px;
  margin-bottom: 60px;
  color: #d07a2d;
}
.main__text {
  font-size: 30px;
}
.main__img {
  padding: 90px 0;
}
.project__title {
  font-weight: 700px;
  font-size: 41px;
  color: #d07a2d;
  margin-bottom: 110px;
}
.project__name {
  font-weight: 700;
  font-size: 32px;
}
.project__size,
.project__area {
  font-size: 25px;
}
.project__price {
  color: #17753b;
  font-size: 25px;
}
.project__images-item {
  margin-top: 20px;
}
.download {
  padding: 35px 0;
  text-align: center;
  background-color: #f4d4a5;
}
.download__link a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 32px;
  background-color: #17753b;
  border: 5px solid #effd15;
  padding: 23px 67px;
}
.gallery__title {
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 40px;
  font-weight: 700;
  color: #d07a2d;
  font-size: 41px;
}
.gallery__text {
  padding-bottom: 50px;
  font-size: 25px;
}
.gallery__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery__inner img {
  display: block;
}
.footer {
  text-align: center;
}
.footer .phone {
  font-weight: 700;
}
.footer__email {
  padding-top: 40px;
  padding-bottom: 150px;
  color: #2f8bc5;
  font-size: 30px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-decoration: underline;
}

/* Медиа запросы */

@media (max-width: 1200px) {
  .header__inner {
    width: 300px;
    height: 300px;
  }
  .header__name {
    font-size: 25px;
  }
  .phone {
    font-size: 25px;
  }
  .header__title {
    width: 250px;
    font-size: 25px;
    margin-left: 15px;
  }
  .header__sale {
    margin-top: 10px;
    margin-left: -70px;
  }
  .header__sale img {
    max-width: 200px;
  }
  .project__images-item img {
    max-width: 800px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding-top: 80px;
  }
  .main__title,
  .project__title,
  .gallery__title {
    font-size: 35px;
  }
  .main__text {
    font-size: 25px;
  }
}

@media (max-width: 850px) {
  .header__inner {
    width: 250px;
    height: 250px;
  }
  .header__name {
    font-size: 20px;
  }
  .phone {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .header__title {
    width: 200px;
    font-size: 20px;
    margin-left: 15px;
  }
  .header__sale {
    margin-top: 10px;
    margin-left: -70px;
  }
  .header__sale img {
    max-width: 150px;
  }
  .project__images-item img {
    max-width: 700px;
  }
  .download__link a {
    font-size: 20px;
  }
}
